.inputcontainer {
    // border: 1px solid;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    height: 70px;
    margin: auto;
    width: 65vw;
    margin-top: -40px;
    background-color: whitesmoke;

    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;



}

.inputfields {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70%;
    // border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    gap: 10px;


    .inputlabel {
        height: 100%;
        display: flex;
        align-items: center;
        // border: 1px solid;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.411);
        width: 10%;
        border-radius: 10px;


        input {
            font-size: 16px;
            padding: 10px;
            border: none;
            outline: none;
            height: 50%;
            width: 10vw;
            background-color: transparent;
        }
    }

    input {
        font-size: 16px;
        padding: 10px;
        border: none;
        outline: none;
        height: 100%;
        width: 10vw;
        background-color: transparent;
        background-color: rgba(255, 255, 255, 0.411);
        border-radius: 10px;
        gap: 10px;
    }

    button {
        height: 100%;
        width: 100px;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: #F96B6B;
        color: white;
        font-size: 16px;
    }
}